.cnblogs-markdown .matlab-code{
  display: block;
  color: #333;
  overflow-x: auto;
  background: #F2F4F5 !important;
  border: none !important;
  font-family: 'Microsoft YaHei', 'SF Pro Display', Roboto, Noto, Arial, 'PingFang SC', sans-serif !important;
  padding: 1em !important;
  font-size: 14px !important
}
pre .matlab-keyword, code .matlab-keyword {color: #0000fe;}
pre .matlab-string,  code .matlab-string  {color: #a020ef;}
pre .matlab-number,  code .matlab-number  {color: #333;}
pre .matlab-bracket, code .matlab-bracket {color: #333;}
pre .matlab-comment, code .matlab-comment {color: #228b22;}
pre .matlab-comment span, code .matlab-comment span {color: #228b22; font-weight: normal;}